<!DOCTYPE html>
<html lang = "en-UK">
  <head><img src="http://www.grandfatherrv.com/wp-content/uploads/2014/09/fader5.jpg" alt="TMS" style="width:1340px; height:400px;"></head>
  <body style="background-color:black; color:white; font-family:verdana">
    <h1 style="text-align:center;">About us and this blog</h1>
    <nav style="text-align:center; color:white;">
      <%= link_to 'Home', root_path %>
      <a href = "http://www.facebook.com/themountainshadow"> Find us on Facebook! </a>
    </nav>
    <!-- change the font family! Look for better colours etc. but layout is taking shape & only basic pure HTML remember :) -->
    <h2>About The Mountain Shadow</h2>
    <pre style="font-family:verdana;">
     The Mountain Shadow is based on an idea. The idea that the shadow can loom as large or as distant as one chooses to make it.
     
     The idea that it can be embraced and appreciated, provide shelter and comfort or can be seen as a place of darkness.
     
     The art is there - but the perspective is yours. 
    </pre>
  </body>
  <footer>
    <h6 style="text-align:center;">Copyright © IMJN 2016.</h6>
  </footer>
</html>

